/* Main colors 

#016373
rgb(21,93,106)
dark blue

#14adc6
rgb(20,173,198)
blue

#00bbd7
rgb(251,171,49)
yello 


#fff
rgb(255,236,235)
white

*/

/* Globel */
* {
  border: 0;
  outline: 0;
}

*:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Navbar */
nav .logo {
  width: 118.13px;
  height: 53.53px;
}

.active-link {
  color: #fff;
  background-color: #00bbd7;
  /* padding-bottom: 20px;   
    border-bottom: 1px;
    border-color: #00bbd7;
    border-style: solid; */
  border-radius: 5px;
}
.nav-link {
  position: relative;
}
.nav-link .mini-basket-count {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #00bbd7;
  top: -2px;
  left: 21px;
  z-index: 9999;
  text-align: center;
  line-height: 1.9;
  font-weight: 700;
  font-size: 10px;
}

/*
edit on bootstrap classes
*/
.navbar {
  background-color: #016373;
}

.nav-link {
  color: #fff;
}
