**/dist
**/node_modules
**README.md
**.gitignore
**.git
**/certs
.dockerignore
npm-debug.log
README.md

# Server files
packages/server/uploads/*
packages/server/logs/*
packages/server/.env*

# Dashboard files
Dockerfile*
packages/dashboard/.env*
packages/dashboard/.next
packages/dashboard/.out
