**/dist
**/node_modules
**README.md
**.gitignore
**.git

# Server files
packages/server/scripts
packages/server/uploads/*
packages/server/.env*
packages/server/docker-compose.yml
packages/server/tests
packages/server/vitest.config*

# Client files
