# Ignore node_modules:
**/node_modules

# Ignore artifacts:
**/dist
**/.angular
**/.next
**/.turbo

# Environments files:
**/.env*
**/next-env.d.ts

# Logs:
**/logs

# Uploads:
**/uploads

# docker volumes:
**/volume
