section {
  background-color: #fff;
  color: #016373;
}
section p {
  margin-bottom: 0;
}
.form-item {
  margin-bottom: 20px;
  margin-top: 20px;
}
.form-item label {
  color: #016373;
}
.password-input {
  position: relative;
  margin-bottom: 20px;
}
.password-input i {
  position: absolute;
  top: 30%;
  right: 2%;
  color: #ccc;
}

.forgot {
  text-align: right;
  margin-top: 20px;
}
.forgot p {
  display: inline;
  cursor: pointer;
  color: #016373;
}
.forgot p:hover {
  text-decoration: solid;
  color: #016473a1;
}
.submit:disabled {
  cursor: text;
  background-color: #ccc;
}

.submit {
  background-color: #016373;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 50px;
  cursor: pointer;
}

.submit:active {
  background-color: #00bbd7;
  transition-duration: 2ms;
}

/* Media query */

@media (max-width: 900px) {
  .w-25 {
    width: 50% !important;
  }
}

@media (max-width: 500px) {
  .w-25 {
    width: 75% !important;
  }
}

@media (max-width: 300px) {
  .w-25 {
    width: 90% !important;
  }
}
