.emptyCart {
  color: #016373;
  /* border: 1px solid #00bbd7; */
  padding: 10px 70px;
  text-align: center;
  margin: auto;
  width: 30%;
  font-weight: 100 !important;
}

.emptyCartParent {
  margin-top: 8%;
}
.emptyCart .h2 {
  font-weight: 300;
}
.emptyCart i {
  font-size: 80px;
  color: #00bbd7;
}
.emptyCart .p {
  font-size: 16px;
}

.second-custom-btn {
  background-color: #fff;
  border: 1px solid #016373;
  color: #016373;
}
.second-custom-btn:hover,
.second-custom-btn:active {
  border: 1px solid #00bbd7;
}
.second-custom-btn:disabled {
  cursor: not-allowed;
}
@media (max-width: 1580px) {
  .emptyCart {
    padding: 20px 40px;
    width: 35%;
  }
}

@media (max-width: 1200px) {
  .emptyCart {
    padding: 40px 40px;
    width: 75%;
  }
}
@media (max-width: 550px) {
  .emptyCart {
    padding: 30px 30px;
    width: 90%;
  }
  .emptyCart i {
    font-size: 60px;
  }
  .emptyCart .p {
    font-size: 16px;
  }
}
@media (max-width: 410px) {
  .emptyCart {
    font-size: 20px;
    padding: 10px 10px;
  }
  .emptyCart i {
    font-size: 40px;
  }
  .emptyCart .h2 {
    font-size: 17px;
  }
  .emptyCart .p {
    font-size: 12px;
  }
}

/* Products*/

.my-porduct {
  display: block;
  position: relative;
}

.porduct img {
  background-size: cover;
}

.parent-img-content {
  position: relative;
}

.img-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

@media (max-width: 576px) {
  .col-xs-12 {
    width: 51%;
  }
}

.img-content .offer {
  background-color: #14adc6;
  color: #fff;
  position: absolute;
  top: 1%;
  left: -3%;
  padding: 5px;
  margin: 0;
  z-index: 55;
}

.img-content .offer span {
  font-weight: bold;
}

.img-content .offer::after {
  content: '';
  position: absolute;
  background-color: #14adc6;
  width: 23px;
  height: 23px;
  top: 5px;
  right: -12px;
  transform: rotate(45deg);
  /* border-radius: 5px; */
  z-index: -1;
}

.favourit-icon {
  position: absolute;
  top: 2.5%;
  right: 4.5%;
  color: #00bbd7;
  font-size: 20px;
  z-index: 10;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0 2px 2px rgba(251, 170, 49, 0.308);
}

.favourit-icon::before {
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
}

/* .favourit-icon:hover {
    font-weight: bold;
} */

.header-product.active i {
  /* background-color: #00bbd7; */
  font-weight: lighter;
}

.shopping-icon {
  position: absolute;
  bottom: 3.5%;
  right: 4.5%;
  color: #00bbd7;
  font-size: 20px;
  cursor: pointer;
}
.shopping-icon:lang(ar) {
  right: auto;
  left: 4.5%;
}

.img-content .fa-plus {
  color: #14adc6;
  font-size: 20px;
  position: absolute;
  top: 7px;
  right: 13px;
}

.shopping-icon::before {
  background-color: #fff;
  padding: 8px 10px;
  border-radius: 50%;
}

.descrp {
  text-align: left;
  color: #016373;
}
.descrp:lang(ar) {
  text-align: right;
}

/*
If favorite is empty
*/
.favourit-icon {
  color: #00bbd7;
  font-size: 50pxpx;
}
