.product-details {
  margin-top: 100px;
}

.img-product img {
  width: 100%;
}

/* .owl-item,
.ng-tns-c556756694-3,
.ng-trigger,
.ng-trigger-autoHeight,
.active,
.ng-star-inserted {
  width: 200px !important;
} */

.main-img > img {
  margin-bottom: 0;
  /* width: 265.33px;
  height: 450px; */
  height: auto;
}

.price {
  /* padding:10px; */
  font-size: 20px;
}

.p {
  font-size: 20px;
}

/********************************/
.offer {
  color: #fbb935;
}
.porduct img {
  background-size: cover;
}

.img-content {
  height: 100px;
  /* width: 132.7px;
  height: 198.83px; */
  padding: 0;
  cursor: pointer;
}

/* .img-content .w-100 {
  height: 150px !important;
} */

/* NGXowl carowsel all cat*/
::ng-deep .owl-theme .owl-nav [class*='owl-']:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

::ng-deep .owl-theme .owl-nav [class*='owl-'] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 9px 12px;
  background: #016373;
  display: inline-block;
  cursor: pointer;
  border-radius: 0px;
  font-weight: bold;
}

/********************************/
.sub-text {
  font-size: 11px;
  color: #666;
  display: block;
  padding: 10px;
  background-color: #efefef;
}

.btn-group {
  display: block;
}

.color {
  margin: 20px 0;
}

.color-btn {
  display: inline-flex;
  margin: 3px 5px;
  padding: 10px;
  border: 1px soild #999;
  border-radius: 0;
  color: #016373;
  font-size: 14px;
}

/* .white {
  background-color: #fff;
  border: 1px solid #fff;
}

.black {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}

.orange {
  background-color: orange;
  border: 1px solid orange;
  color: #fff;
} */

/* .btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active,
.btn-check+.btn:hover {
  color: #fff;
  background-color: #fbb935;
  border: 1px solid #fbb935;
  border-radius: 0;
} */

.size {
  margin-top: 20px;
  margin-bottom: 20px;
}

.size .btn-not-active {
  background-color: #eee;
  border: 1px solid #999;
  padding: 5px;
  border-radius: 0;
  outline: none;
  color: #999;
}

.size .active {
  background-color: #fbb935;
  border: 1px solid #fbb935;
  padding: 5px;
  border-radius: 0;
  outline: none;
  color: #fff;
}

.quantity {
  border: 1px solid #ccc;
  margin: 10px 0 20px;
  width: 134px;
}

.counter {
  padding: 5px 10px;
  text-align: center;
}

.counter .min-counter-btn,
.counter .plus-counter-btn {
  background-color: #fff;
  border: none;
  border-radius: 0;

  color: #016373;
  font-weight: bold;
  font-size: 12px;
}

.counter .min-counter-btn:disabled {
  cursor: not-allowed;
}

.counter .counter-text {
  background-color: #fff;
  color: #016373;
}

.add-cart-btn button {
  padding: 10px 0;
  color: #fff;
  font-weight: 500;
  background-color: #fbb935;
  border: 1px solid #fbb935;
  transition: all 0.3s ease-in-out;
}

.add-cart-btn button:hover,
.add-cart-btn button:active {
  color: #016373;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #ccc;
}

.add-cart-btn button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-check:checked + .btn {
  border: 0;
}

.size-options-list {
  margin-left: -8px;
}

.size-option label {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 30px;
  height: 30px; */
  padding: 5px;
  border: 1px solid #fff;
  margin: 0 8px;
  cursor: pointer;
}

.size-option.active label {
  /* border-color: #000; */
  background-color: #fbb935;
  color: #fff;
}

/* color option*/
.color-options-list {
  margin-left: -8px;
}

.color-option label {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 30px;
  height: 30px; */
  padding: 5px;
  border: 1px solid #fff;
  margin: 0 8px 0px;
  cursor: pointer;
}

.color-option.active label {
  /* border-color: #000; */
  background-color: #fbb935;
  color: #fff;
}

.card-body .p {
  font-size: 12px;
  padding-top: 0;
  margin-bottom: 2px;
  padding-bottom: 0;
}

/*carowsel ngx*/
::ng-deep .ngx-pagination .current {
  padding: 8px 16px !important;
  background: #016373 !important;
  color: #fefefe;
  cursor: default;
}

/* Products*/

.porduct {
  display: block;
  position: relative;
}

.porduct .parent-img-content img {
  background-size: cover;
}

.parent-img-content {
  position: relative;
  width: 100%;
}

.parent-img-content .img-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

@media (max-width: 576px) {
  .parent-img-content .col-xs-12 {
    width: 51%;
  }
}

.parent-img-content .img-content .offer {
  background-color: #14adc6;
  color: #fff;
  position: absolute;
  top: 1%;
  left: -3%;
  padding: 5px;
  margin: 0;
  z-index: 55;
}

.parent-img-content .img-content .offer span {
  font-weight: bold;
}

.parent-img-content .img-content .offer::after {
  content: '';
  position: absolute;
  background-color: #14adc6;
  width: 23px;
  height: 23px;
  top: 5px;
  right: -12px;
  transform: rotate(45deg);

  z-index: -1;
}

.parent-img-content .favourit-icon {
  position: absolute;
  top: 2.5%;
  right: 4.5%;
  color: #fbb935;
  font-size: 20px;
  z-index: 10;
  font-weight: lighter;
  cursor: pointer;
  text-shadow: 0 2px 2px rgba(251, 170, 49, 0.308);
}

.parent-img-content .favourit-icon::before {
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
}

.parent-img-content .header-product.active i {
  font-weight: bold;
}

.parent-img-content .shopping-icon {
  position: absolute;
  bottom: 3.5%;
  right: 4.5%;
  color: #fbb935;
  font-size: 20px;
  cursor: pointer;
}

::ng-deep label.star[_ngcontent-ng-c205951347] {
  float: right;
  padding: 2px !important;
  font-size: 15px !important;
  color: #ccc !important;
  transition: all 0.2s;
}
.parent-img-content .img-content .fa-plus {
  color: #14adc6;
  font-size: 20px;
  position: absolute;
  top: 7px;
  right: 13px;
}

.parent-img-content .shopping-icon::before {
  background-color: #fff;
  padding: 8px 10px;
  border-radius: 50%;
}
@media (max-width: 800px) {
  .parent-img-content .shopping-icon::before {
    padding: 6px 8px;
  }
}
@media (max-width: 500px) {
  .parent-img-content .shopping-icon::before {
    padding: 5px 7px;
  }
}
.parent-img-content .img-content .w-100 {
  height: auto !important;
}

.descrp {
  text-align: left;
  color: #016373;
}

/* NGXowl carowsel all cat*/
::ng-deep .owl-theme .owl-nav [class*='owl-']:hover,
::ng-deep .owl-theme .owl-nav [class*='owl-']:focus,
::ng-deep .owl-theme .owl-nav [class*='owl-']:active {
  background: #fbb935;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

::ng-deep .owl-theme .owl-nav [class*='owl-'] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 9px 12px;
  background: #016373;
  display: inline-block;
  cursor: pointer;
  border-radius: 0px;
  font-weight: bold;
}
