.product-details {
  margin-top: 100px;
}

.img-product img {
  width: 100%;
}


/* .owl-item,
.ng-tns-c556756694-3,
.ng-trigger,
.ng-trigger-autoHeight,
.active,
.ng-star-inserted {
  width: 200px !important;
} */

.main-img>img {
  margin-bottom: 0;
  /* width: 265.33px;
  height: 450px; */
  height: 800px;
}

.price {
  /* padding:10px; */
  font-size: 20px;
}

.p {
  font-size: 20px;
}

/********************************/

.porduct img {
  background-size: cover;
}



.img-content {
  height: 100px;
  /* width: 132.7px;
  height: 198.83px; */
  padding: 0;
  cursor: pointer;

}

/* .img-content .w-100 {
  height: 150px !important;
} */

/* NGXowl carowsel all cat*/
::ng-deep .owl-theme .owl-nav [class*='owl-']:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

::ng-deep .owl-theme .owl-nav [class*='owl-'] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 9px 12px;
  background: #016373;
  display: inline-block;
  cursor: pointer;
  border-radius: 0px;
  font-weight: bold;
}

/********************************/
.sub-text {
  font-size: 11px;
  color: #666;
  display: block;
  padding: 10px;
  background-color: #efefef;
}

.btn-group {
  display: block;
}

.color {
  margin: 20px 0;
}

.color-btn {
  display: inline-flex;
  margin: 3px 5px;
  padding: 10px;
  border: 1px soild #999;
  border-radius: 0;
  color: #016373;
  font-size: 14px;
}

/* .white {
  background-color: #fff;
  border: 1px solid #fff;
}

.black {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}

.orange {
  background-color: orange;
  border: 1px solid orange;
  color: #fff;
} */

/* .btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active,
.btn-check+.btn:hover {
  color: #fff;
  background-color: #fbb935;
  border: 1px solid #fbb935;
  border-radius: 0;
} */

.size {
  margin-top: 20px;
  margin-bottom: 20px;
}

.size .btn-not-active {
  background-color: #eee;
  border: 1px solid #999;
  padding: 5px;
  border-radius: 0;
  outline: none;
  color: #999;
}

.size .active {
  background-color: #fbb935;
  border: 1px solid #fbb935;
  padding: 5px;
  border-radius: 0;
  outline: none;
  color: #fff;
}

.quantity {
  border: 1px solid #ccc;
  margin: 10px 0 20px;
  width: 134px;
}

.counter {
  padding: 5px 10px;
  text-align: center;
}

.counter .min-counter-btn,
.counter .plus-counter-btn {
  background-color: #fff;
  border: none;
  border-radius: 0;

  color: #016373;
  font-weight: bold;
  font-size: 12px;
}

.counter .counter-text {
  background-color: #fff;
  color: #016373;

}

.add-cart-btn button {
  padding: 10px 0;
  color: #fff;
  font-weight: 500;
  background-color: #fbb935;
  border: 1px solid #fbb935;
  transition: all 0.3s ease-in-out;
}

.add-cart-btn button:hover,
.add-cart-btn button:active,
.add-cart-btn button:disabled {

  color: #016373;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #ccc;
}

.add-cart-btn button:disabled {
  cursor: not-allowed;
  opacity: 0.5;

}

.btn-check:checked+.btn {
  border: 0;
}

.size-options-list {
  margin-left: -8px;
}

.size-option label {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 30px;
  height: 30px; */
  padding: 5px;
  border: 1px solid #fff;
  margin: 0 8px;
  cursor: pointer;
}

.size-option.active label {
  /* border-color: #000; */
  background-color: #fbb935;
  color: #fff;
}

/* color option*/
.color-options-list {
  margin-left: -8px;
}

.color-option label {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 30px;
  height: 30px; */
  padding: 5px;
  border: 1px solid #fff;
  margin: 0 8px 0px;
  cursor: pointer;
}

.color-option.active label {
  /* border-color: #000; */
  background-color: #fbb935;
  color: #fff;
}