/*old search */
/* form .icon-search {
  position: absolute;
  top: 12px;
  left: 25px;
  color: #ffffff3d;
}

.search {
  background-color: transparent;
  border: 1px solid #ffffff3d;
  color: #fff;
  width: 285px;
  border-radius: 5px;
  outline: none;
}

@media (max-width: 1300px) {
  .search {
    width: 250px;
  }
}

.search:active,
.search:focus {
  outline: none;
  box-shadow: none;
} */
/*old search */

/* Navbar */
/* .navbar{
     width: 99.1%; 

} 
*/
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Pacifico&family=Quicksand:wght@300..700&family=Titan+One&display=swap');

section.fixed-top {
  top: 30px;
}

.nav {
  background-color: #fff;
  z-index: 9999;
}

/* .nav .nav-link {
  color: black;
  font-weight: bold;
  font-size: 14px;
} */
.upper-nav .lang {
  color: black !important;
  font-weight: 500;
}

/* .navbar:lang(ar){
  text-align: right;
} */
.navbar {
  transition: top ease-in-out 0.5s;
  view-transition-name: top;
}

nav .logo {
  width: 118.13px;
  height: 53.53px;
}

/* @media (min-width: 1200px)  */
.navbar-expand-lg .navbar-nav .dropdown-menu {
  /* position: absolute; */
  border: none !important;
  width: 300px !important;
  border-radius: 5px;
  overflow: auto;
  max-height: 300px;
  /* margin-top: 10px; */
}
@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    width: 200px !important;
  }
}
.navbar-expand-lg .navbar-nav .dropdown-menu::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.navbar-expand-lg .navbar-nav .dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #787878;
}
.navbar-expand-lg .navbar-nav .dropdown-menu:lang(ar) {
  text-align: right;
}

.navbar-expand-xl .navbar-nav .dropdown-menu li:hover {
  background-color: #fbb935;
}

.dropdown-menu .dropdown-item {
  color: #016373;
  font-weight: 500;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus {
  background-color: #fbb935;
  color: #fff;
}

/*login*/
.not-member {
  font-size: 12px;
  font-weight: bold;
  color: black;
}

/**/
.navbar-toggler {
  transition: all 1s ease-in-out;
}

.navbar-toggler i {
  font-size: 30px !important;
  color: #fff !important;
}

.navbar-toggler span {
  color: #fff !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
@media (min-width: 992px) {
  .navbar-nav .nav-link {
    color: #fff;
  }
}

.offcanvas.offcanvas-start {
  width: 300px !important;
}

.active-link {
  color: #fff;
  background-color: #fbb935;
  /* padding-bottom: 20px;   
    border-bottom: 1px;
    border-color: #fbb935;
    border-style: solid; */
  border-radius: 5px;
  padding: 5px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
  background-color: #fbb935;
}

form {
  position: relative;
}

.nav-link {
  position: relative;
  cursor: pointer;
}
.under-line-hover-link {
  overflow: hidden;
}
.under-line-hover-link::after {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 100%;
  height: 0px;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.under-line-hover-link:lang(ar)::after {
  left: 100%;
  transform: translateX(100%);
}
.under-line-hover-link:lang(ar):hover::after {
  left: 100%;
  transform: translateX(-100%);
}
.under-line-hover-link:hover::after {
  height: 1px;
  transform: translateX(0);
}

.upper-nav .nav-link {
  color: #016373;
}

/*search */
.search-btn {
  position: fixed;
  top: 30%;
  right: -10px;
  z-index: 9999;
  width: 50px;
  background-color: #fbb935;
  padding: 15px;
  border-radius: 25px 0px 0px 25px;
  cursor: pointer;
  transition: all 0.7 ease-in-out;
}

.search-btn:hover,
.search-btn:active {
  right: -5px;
  transition: all 0.7 ease-in-out;
}

.search-btn i {
  color: #fff;
  font-size: 25px;
}

@media (max-width: 600px) {
  .search-btn i {
    font-size: 20px;
  }
}

.search-form {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 99999;
}
.search-form::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.search-form::-webkit-scrollbar-thumb {
  background-color: #787878;
}

.search-form .parent-search {
  /* position: absolute; */
  margin-top: 40px;
  /* left: 25%; */
  width: 100%;
}

.parent-search form {
  width: 80%;
  margin: auto;
}

.search-form .icon-search {
  color: #fbb935;
  font-size: 30px;
  margin-top: 10px;
  font-weight: 600 !important;
}

.search-form .search {
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #016373;
  color: #016373;
  font-size: 30px;
  width: 100%;
  border-radius: 0px;
  outline: none;
}

.search-form .search-close {
  color: #016373;
  border: none;
  font-size: 30px;
  font-weight: 600 !important;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 1300px) {
  /* .search-form  .search{
    width: 250px;
  } */
}

.search-form .search:active,
.search-form .search:focus {
  outline: none;
  box-shadow: none;
}

.products-search {
  width: 90%;
  height: 400px;
  overflow-x: scroll;
  float: left;
  margin-left: 5%;
}
@media (max-width: 575px) {
  .col-xs-6-custome {
    width: 50%;
    padding: 0 5px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

/* .upper-nav .nav-link:active,
.upper-nav .nav-link:focus{
  color: #fff;
  background-color: #fbb935;
} */

.nav-link .mini-basket-count {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #fbb935;
  color: #fff;
  top: 0;
  left: 30px;
  text-align: center;
  line-height: 1.9;
  font-weight: bolder;
  font-size: 12px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.nav-link .mini-basket-count > span {
  font-weight: bolder;
  font-size: 10px;
}

/*
edit on bootstrap classes
*/
.navbar {
  background-color: #016373;
}

.navbar.nav-right {
  background-color: transparent;
}

.text-reset:lang(ar) {
  margin-right: 120px;
}

@media (max-width: 1300px) {
  .nav-link,
  .nav-link span {
    font-size: 14px;
  }
}
