/* Navbar */
/* .navbar{
     width: 99.1%; 

} 
*/
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Pacifico&family=Quicksand:wght@300..700&family=Titan+One&display=swap');



.fixed-top {
  top: 30px;
}

nav .logo {
  width: 118.13px;
  height: 53.53px;
}

/* @media (min-width: 1200px)  */
.navbar-expand-xl .navbar-nav .dropdown-menu {
  position: absolute;
  border: none !important;
  width: 600px !important;
  border-radius: 5px;
  margin-top: 10px;
}

.navbar-expand-xl .navbar-nav .dropdown-menu li {
  color: #016373;
}

.active-link {
  color: #fff;
  background-color: #fbb935;
  /* padding-bottom: 20px;   
    border-bottom: 1px;
    border-color: #fbb935;
    border-style: solid; */
  border-radius: 5px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
}

form {
  position: relative;
}

form .icon-search {
  position: absolute;
  top: 12px;
  left: 25px;
  color: #ffffff3d;
}

.search {
  background-color: transparent;
  border: 1px solid #ffffff3d;
  color: #fff;
  width: 285px;
  border-radius: 5px;
  outline: none;
}

.search:active,
.search:focus {
  outline: none;
  box-shadow: none;
}

.nav-link {
  position: relative;
}

.nav-link .mini-basket-count {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #fbb935;
  top: 0;
  left: 25px;
  z-index: 9999;
  text-align: center;
  line-height: 1.9;
  font-weight: bolder;
  font-size: 12px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.nav-link .mini-basket-count>span {
  font-weight: bolder;
  font-size: 10px;
}

/*
edit on bootstrap classes
*/
.navbar {
  background-color: #016373;
}

.navbar.nav-right {
  background-color: transparent;
}

.nav-link {
  color: #fff;
}