:host {
  margin-top: auto;
}

.h1 {
  color: #016373;
  font-weight: bold;
}

footer {
  padding: 40px 0;
  background-color: #14adc6;
  color: #fff;
}

.hover-title:hover,
.hover-title:focus,
.hover-title:active {
  cursor: default;
  color: #efefef;
}

.our-service {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title h3,
h4 {
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.title p {
  text-align: left;
  padding: 0;
  margin: 0;
}

.p-footer {
  font-size: 14px;
}

@media (max-width: 992px) {
  .p-footer {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .p-footer {
    font-size: 10px;
  }
}

i {
  color: #fff;
}

.copy-right p {
  font-size: 12px;
}

p span {
  font-weight: bold;
}

nav a {
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

@media (max-width: 576px) {
  nav a {
    font-size: 8px;
  }
}

.nav-link {
  margin: var(--bs-nav-link-margin-y) var(--bs-nav-link-margin-x);
}

nav a:hover,
i:hover,
nav a:active,
i:active,
nav a:focus,
i:focus {
  color: #efefef;
}

nav .logo {
  width: 118.13px;
  height: 53.53px;
}

.powerd {
  background-color: #016373;
  font-weight: 100;
  padding: 5px 0;
}

.powerd p {
  font-size: 10px;
  font-weight: lighter;
}

.powerd span {
  color: #fbb935;
}

/* Fixed buttons on scroll*/

.descrp {
  text-align: left;
  color: #016373;
}

.descrp .fa-star {
  color: #fbb935;
  font-weight: bold;
  font-size: 10px;
  margin-right: 2px;
}

.btn-up {
  position: fixed;
  bottom: 40px;
  right: 2px;
  background-color: #fbb935;
  color: #14adc6;
  width: 37px;
  height: 37px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 20px;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whats-icon {
  position: fixed;
  bottom: 90px;
  right: 2px;
  background-color: #1bd741;
  color: #fff;
  border: none;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  font-weight: bolder;
  font-size: 20px;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
@media (max-width: 400px) {
  .btn-up {
    bottom: 54px;
    width: 25px;
    height: 30px;
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .whats-icon {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }
}
.nav-item {
  margin-bottom: 5px;
}

.nav-item .nav-link {
  display: inline;
}
.h4 {
  margin-bottom: 10px;
}
