server {
    listen ${NGINX_PORT};
    listen ${NGINX_PORT_SSL} ssl;
    server_name ${NGINX_HOST};
    client_max_body_size 25M;

    ssl_certificate /etc/nginx/certs/server.crt;
    ssl_certificate_key /etc/nginx/certs/server.key;

    root /path/to/webroot;

    location / {
        proxy_pass http://${SERVER_HOST}:${SERVER_PORT};
        proxy_http_version 1.1;
        proxy_set_header X-FORWARDED-FOR $proxy_add_x_forwarded_for;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
    
    # serve static files
    location /uploads/ {
        alias /app/server/uploads/;
    }
}
